.foodCard {
    // width: 25%;
    // flex: 0 0 30%;
    width: 22%;
    min-width: 400px;
    padding: 10px;
    margin: 0 0.3963vw 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // border-radius: 10px;
    background-color: rgba(0,0,0,0);
    box-shadow: 0 0 8px 0 rgba(0,0,0,.2);
    @media screen  and  (max-width: 800px) {
        width: 22%;
        min-width: 400px;
        padding: 10px;
        margin: 0 0.3963vw 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        // border-radius: 10px;
        background-color: rgba(0,0,0,0);
        box-shadow: 0 0 8px 0 rgba(0,0,0,.2);
            justify-content: center;

        .img-container {
            width: 50%;
            overflow-x: hidden;
            overflow-y: hidden;
            display: flex;
            margin: 0;
            padding: 0;
            img {
                width: 50%;
                // min-height: 218px;
                display: inline-block;
                transition: all 0.5s ease-in-out;
                margin: 0;
                padding: 0;
    
                &:hover {
                    transform: scale(1.1);
                    
                }
            }
        }
    }
    .img-container {
        width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
        display: flex;
        margin: 0;
        padding: 0;
        img {
            width: 100%;
            // min-height: 218px;
            display: inline-block;
            transition: all 0.5s ease-in-out;
            margin: 0;
            padding: 0;

            &:hover {
                transform: scale(1.1);
                
            }
        }
    }
    .info {
        width: 90%;
        padding: 5px 15px 5px 15px ;
        display: flex;
        flex-direction: column;
        .pricetag{
            display: flex;
            flex-direction: row;
            margin-bottom: 10px;
            font-weight: bold;
            .title {
                margin-right: auto;
                font-family: Roboto,sans-serif;
                font-size: 1.1em;
                line-height: 22px;
                padding-right: 10px;
                text-align: left;
            }
            .price {
                margin-left: auto;
                font-size: 1.1em;
                font-family: Roboto,sans-serif;
                line-height: 22px;
            }
        }
        .details {
            margin-bottom: 10px;
            font-family: Roboto,sans-serif;
            text-align: left;
        }
    }
    .addtoCart {
        // height: px;
        width: 90%;
        // padding: 10px;
        margin-bottom: 10px;
        // background-color:  rgb(17, 53, 54);
        margin-top: auto;
        // color: white;
        text-transform: none;
        // text-align: center;
        // vertical-align: middle;
        // line-height: 30px;
        // border-radius: 900px;
        // &:visited
    }
}