.deliverypage {
  max-width: 1300px;
  width: 100%;
  margin: 10px auto;
  padding: 50px 15px 20px 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  .pagetitle {
    display: flex;
    justify-content: center;
    font-size: 30px;
  }
  .cover {
    display: flex;
    align-items: center;
    flex-direction: column;
    .cover_title {
      font-size: 30px;
    }
    .formcover {
      display: flex;
      justify-content: center;
      .form {
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        .cover {
          display: flex;
          flex-direction: column;
          gap: 10px;
          .upper {
            display: flex;
            //   justify-content: flex-start;
            .title {
              font-size: 20px;
            }
          }
          input {
            border: none;
            outline: none;
            background-color: transparent;
            border-bottom: 0.8px solid black;
            font-size: 20px;
            text-align: left;
            width: 400px;
          }
        }
      }
    }
  }
  .payment {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding-bottom: 20px;
    .option {
      display: flex;
      justify-content: center;
      button {
        width: 400px;
        height: 50px;
        color: black;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid black;
        padding-left: 30px;
        padding-right: 30px;
        // cursor: pointer;
        .name {
          color: white;
        }
        .imag {
          img {
            width: 30px;
          }
        }
        // &:hover,
        // &:active {
        //   background-color: rgb(226, 226, 226);
        // }
      }
    }
  }
  .btn {
    background-color: rgb(0, 101, 0);
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 20px;
    width: 300px;
    height: 50px;
  }
  .delivery-content{
    width: 400px;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px ;
    row-gap: 20px;
  }
}
