
.main-page{
    @media screen  and  (min-width: 1600px) {
        display: flex;
        margin: 3vh 13vw ;
        
        margin: auto;
        width: 74%;
        flex-direction: column;
        justify-content: center;
    }
    // min-width: 1500px;
    @media screen and (max-width: 1200px) {
        display: flex;
        margin: 3vh 6vw ;
        
        margin: auto;
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }
    .menu {
        @media screen  and  (min-width: 800px) {
            width: 100%;
            flex-flow: wrap;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        @media screen  and  (max-width: 500px) {
            width: 100%;
            flex-flow: wrap;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}
