@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
.main-page {
  @media screen and (min-width: 1600px) {
    display: flex;
    margin: auto;
    width: 76%;
    flex-direction: column;
    justify-content: center;
  }
  @media screen and (max-width: 1200px) {
    display: flex;
    margin: 3vh 6vw;

    margin: auto;
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
  .tag-combo {
    scroll-margin-top: 215px;
    margin-left: 0.5em;
    margin-bottom: 10px;
    margin-top: 1em;
    font-family: "Oswald" !important;
    font-weight: bold;
    font-size: 2rem;
    text-align: left;
    display: flex;
  }
  .menu {
    @media screen and (min-width: 800px) {
      width: 100%;
      flex-flow: wrap;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    @media screen and (max-width: 800px) {
      width: 100%;

      flex-wrap: nowrap;
      display: flex;
      // flex-direction: column;
      flex-direction: row;
      justify-content: center;
      overflow: auto;
    }
  }
}
