// @font-face {
//     font-family: 'Tolyer No3';
//     src: url('TolyerNo3-Bold.eot');
//     src: local('Tolyer No.3 Bold'), local('TolyerNo3-Bold'),
//         url('TolyerNo3-Bold.eot?#iefix') format('embedded-opentype'),
//         url('TolyerNo3-Bold.woff2') format('woff2'),
//         url('TolyerNo3-Bold.woff') format('woff'),
//         url('TolyerNo3-Bold.ttf') format('truetype');
//     font-weight: bold;
//     font-style: normal;
//     font-display: swap;
// }
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
.header {
    margin-left: 0.5em;
    margin-bottom: 10px;
    margin-top: 1em;
    font-family: 'Oswald', sans-serif;;
    font-weight: bold;
    font-size: 2rem;
    text-align: left;
    display: flex;
}