/* PC: 1400 -> */

@media (min-width: 1400px) {

}

/* PC: 992 -> 1400 */
@media (max-width: 1390px) and (min-width: 992px) {

}

/* Tablet: 768 -> 992 */
@media (max-width: 991px) and (min-width: 768px) {

}

/* Mobile: <- 768 */
@media (max-width: 767px) {
    .comment-general-wrap-mobile {
        flex-direction: column !important;
        align-items: center !important;
    }

    .general-item-detail-mobile {
        border: none !important;
        margin: 30px 0;
    }

    .general-send-mobile {
        flex-direction: column !important;
        width: 100% !important;
    }

    .comment-general-header-mobile {
        font-size: 28px !important;
    }

    .comment-form-header-mobile {
        font-size: 28px !important;
    }
}
